
@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

@{
    ViewBag.Title = "Iniciar Sesion";
}

@section Styles {
    @Styles.Render("~/Content/Project/CSS/Login.css")
}

@section Scripts{
    @Scripts.Render("~/Scripts/Project/JS/Login.js")
}

<main class="page login-page align-middle">
    <section class="clean-block clean-form dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info text-center">Log In</h2>
                <p>Sistema de clase .NET MVC</p>
            </div>
            <form id="formInicio">
                <div class="form-group">
                    <input type="text" name="nomUser" id="nomUser" value="" class="form-control" placeholder="Nombre de usuario" required pattern="\w{6,}" minlenght="6" maxlength="50" />
                </div>
                <div class="form-group">
                    <input type="password" name="userPass" id="userPass" value="" class="form-control" placeholder="Contraseña" required
                           title="Debe contener 8 caracters, al menos una minuscula, una mayuscula y un número"
                           minlenght="8"
                           maxlength="50" />
                </div>
                <span class="error" aria-live="polite"></span>
                <div class="form-group text-right">
                    <input type="submit" id="loginbtn" value="Iniciar Sesion" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </section>
</main>

<footer class="secPie">
    @Html.Hidden("SuccessLogin", Url.Action("Index", "Home"))
    @Html.Hidden("UrlLogueo", Url.Action("Logueo", "Login"))
</footer>

