
@{
    Layout = "~/Views/Shared/_Layout_Login.cshtml";
}

@{
    ViewBag.Title = "Iniciar Sesion";
}

@section Styles {
   @Styles.Render("~/Content/Project/CSS/Login.css")
}

@section Scripts{
    @Scripts.Render("~/Scripts/Project/JS/Login.js")
}

<section class="secSuperior">
    <h1 class="text-center">Sistema de Clase MVC</h1>
</section>

<section class="mainSection">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3" id="formCard">
                <form id="formInicio">
                    <h3 class="text-center">Bienvenido</h3>
                    <fieldset>
                        <div class="form-group">
                            <input type="text" name="nomUser" id="nomUser" value="" class="form-control" placeholder="Nombre de usuario" required pattern="\w{6,}" minlenght="6" maxlength="50" />
                        </div>
                        <div class="form-group">
                            <input type="password" name="userPass" id="userPass" value="" class="form-control" placeholder="Contraseña" required
                                   pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                   title="Debe contener 8 caracters, al menos una minuscula, una mayuscula y un número"
                                   minlenght="8"
                                   maxlength="50" />
                        </div>
                    </fieldset>
                    <span class="error" aria-live="polite"></span>
                    <div class="form-group text-right">
                        <input type="submit" value="Iniciar Sesion" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>

        </div>

    </div>


</section>

<footer class="secPie">
    @Html.Hidden("SuccessLogin", Url.Action("Index", "Home"))
    @Html.Hidden("UrlLogueo", Url.Action("Logueo", "Login"))
</footer>

